<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>greenagri</display-name>
  
  <context-param>
	  <param-name>driver</param-name>
	  <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
	  <param-name>url</param-name>
	  <param-value>jdbc:postgresql://localhost:5432/greenagri</param-value>
  </context-param>
  <context-param>
	  <param-name>username</param-name>
	  <param-value>postgres</param-value>
  </context-param>
  <context-param>
	  <param-name>password</param-name>
	  <param-value>postgres</param-value>
  </context-param>
  <listener>
  	<listener-class>listeners.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>BoardCrawler</servlet-name>
  	<display-name>BoardCrawler</display-name>
  	<description></description>
  	<servlet-class>crawling.BoardCrawler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductCrawler</servlet-name>
  	<display-name>ProductCrawler</display-name>
  	<description></description>
  	<servlet-class>crawling.ProductCrawler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<display-name>Index</display-name>
  	<description></description>
  	<servlet-class>index.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PostRegister</servlet-name>
  	<display-name>PostRegister</display-name>
  	<description></description>
  	<servlet-class>crawling.manual.PostRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductRegister</servlet-name>
  	<display-name>ProductRegister</display-name>
  	<description></description>
  	<servlet-class>crawling.manual.ProductRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SentimentAnalysis</servlet-name>
  	<display-name>SentimentAnalysis</display-name>
  	<description></description>
  	<servlet-class>analysis.SentimentAnalysis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VectorSpaceAnalysis</servlet-name>
  	<display-name>VectorSpaceAnalysis</display-name>
  	<description></description>
  	<servlet-class>analysis.VectorSpaceAnalysis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyPathAnalysis</servlet-name>
  	<display-name>BuyPathAnalysis</display-name>
  	<description></description>
  	<servlet-class>analysis.BuyPathAnalysis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PreferProductAnalysis</servlet-name>
  	<display-name>PreferProductAnalysis</display-name>
  	<description></description>
  	<servlet-class>analysis.PreferProductAnalysis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchProduct</servlet-name>
  	<display-name>SearchProduct</display-name>
  	<description></description>
  	<servlet-class>crawling.manual.SearchProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PriceRegister</servlet-name>
  	<display-name>PriceRegister</display-name>
  	<description></description>
  	<servlet-class>crawling.manual.PriceRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NaverBoardCrawler</servlet-name>
  	<display-name>NaverBoardCrawler</display-name>
  	<description></description>
  	<servlet-class>crawling.NaverBoardCrawler</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>BoardCrawler</servlet-name>
  	<url-pattern>/crawling/board</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCrawler</servlet-name>
  	<url-pattern>/crawling/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PostRegister</servlet-name>
  	<url-pattern>/manreg/board</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductRegister</servlet-name>
  	<url-pattern>/manreg/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SentimentAnalysis</servlet-name>
  	<url-pattern>/analysis/sentiment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VectorSpaceAnalysis</servlet-name>
  	<url-pattern>/analysis/vector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyPathAnalysis</servlet-name>
  	<url-pattern>/analysis/buypath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PreferProductAnalysis</servlet-name>
  	<url-pattern>/analysis/preferprod</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchProduct</servlet-name>
  	<url-pattern>/manreg/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PriceRegister</servlet-name>
  	<url-pattern>/manreg/price</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NaverBoardCrawler</servlet-name>
  	<url-pattern>/crawling/naver</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
